@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #326ce5;
	--color-primary-600: #1e40af;
	--color-primary-700: #1d4ed8;
	--color-primary-800: #1e3a8a;
	--color-primary-900: #1e2f97;
	--color-primary-950: #172554;

	--color-secondary-50: #fafafa;
	--color-secondary-100: #f4f4f5;
	--color-secondary-200: #e4e4e7;
	--color-secondary-300: #d4d4d8;
	--color-secondary-400: #a1a1aa;
	--color-secondary-500: #71717a;
	--color-secondary-600: #52525b;
	--color-secondary-700: #3f3f46;
	--color-secondary-800: #27272a;
	--color-secondary-900: #18181b;
	--color-secondary-950: #09090b;

	--default-mode: dark;
}

@custom-variant dark (&:where(.dark, .dark *));
